@model testsite.Views.Accept.ConfilmViewModel

@{
    ViewData["Title"] = "BlackWacateお申込み";
}

<h2>BlackWacateお申込み</h2>

<form asp-action="Confilm">
    <div>
        <h4>確認画面</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NameKana)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameKana)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MailAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MailAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PostNo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PostNo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address1)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address1)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address2)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address2)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Twitter)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Twitter)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BirthDay)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BirthDay)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Office)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Office)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobTypeId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JobType.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Yakushoku)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Yakushoku)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RepeatCount)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.RepeatCount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Issue)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Issue)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserNotes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserNotes)
            </dd>
        </dl>
    </div>
    <div class="form-horizontal">
        <input type="hidden" asp-for="ConfilmDate" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="申請する" class="btn btn-default" />
                <a asp-action="Index" class="btn btn-default">戻る</a>
            </div>
        </div>
    </div>
</form>
